body {
  background: url(../img/pawel-czerwinski-2Y8ol_OBS1I-unsplash.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.navbar-light .navbar-nav .nav-link, .dropbtn {
  color: #143d59 !important;
  font-weight: 600;
  font-family: "Segoe UI", Arial, sans-serif;
  font-size: 20pt;
  box-shadow: 0 10px 20px -5px rgba(0, 0, 0, 0.408);
  padding: 10px;
  transition: .6s;
}

.join {
  color: #143d59 !important;
  font-weight: 600;
  font-family: "Segoe UI", Arial, sans-serif;
  font-size: 20pt;
  box-shadow: 0 10px 20px -5px rgba(0, 0, 0, 0.408);
  padding: 2px;
  width: 100%;
  transition: .6s;
  border: none;
  font-size: 15pt;
  padding: 13px;
}

.joinbt {
  margin: 78px 0 40px 0;
}

.joints {
  font-size: 13pt !important;
}

.navbar-light .navbar-nav .nav-link:hover {
  background-color: #878a8dbe;;
}

.active {
  background-color:  #878a8d60;;
}

.navbar {
  font-family: Verdana, Geneva, Tahoma, sans-serif;

  font-weight: bold;


}

.navbar-brand {
  font-size: 22pt;
  font-family: 'Times New Roman', Times, serif;

  box-shadow: 0 15px 60px rgba(0, 0, 0, 0.433);
  padding: 10px 10px 10px 10px;
  color: #040D50 !important;

}

.main-body {
  margin: 18% 20% 20% 20%;
}

.Appiontment-btn {
  border: none;
  overflow: hidden;
  padding: 0.46rem 1.6rem;
  background-color: #878a8d8c;
  border: none;
  text-align: center;
  color: #000000;
  outline: none;
  padding: 15px 20px 15px 20px ;
  transition: 0.8s;
}

.Appiontment-btn:hover {
  background-color: #878A8D;
}

.page-footer {
  background-color: #587392 !important;
  padding-top: 0 !important;
}

.cards {
  margin-top: 3rem;
  margin-left: 5rem !important;

}

.cards li {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color:  #040D50;
  font-weight: bold;
  font-family:;
}

.cards button {
  text-align: center;
  width: 100%;
}

.cards .fa-map-marker-alt,
.fa-headset,
.fa-business-time,
.fa-university,
.fa-certificate {
  color: rgb(209, 214, 218);
  margin: 1rem 0.7rem 1rem -2rem;
  vertical-align: middle;
  font-size: 18pt;
}

.card-box {

  margin-left: -0.8rem;
  margin-bottom: 0.2rem;
  border-top-left-radius: 10%;
  border-top-right-radius: 10%;
  position: relative;
  background-color:  #979ba0a6;;
  box-shadow: 0 15px 60px rgba(0, 0, 0, 0.5);
}

a.btn.btn-primary {
  width: 100%;
  
}

@media (min-width:1349px) {
  .cards {
    margin-top: 15rem;
    margin-left: 7rem !important;

  }
}

@media (min-width:800px) {
  .cards {
    margin-top: 15rem;
    margin-left: 7rem !important;

  }
}

@media (min-width:744px) {
  .cards {
    margin-top: 10rem;
    margin-left: 8rem !important;

  }
}

@media (min-width:960px) {
  .cards {
    margin-top: 10rem;
    margin-left: 11rem !important;

  }
}

@media (min-width:1212px) {
  .cards {
    margin-top: 15rem;
    margin-left: 4rem !important;

  }
}

@media (min-width:1191px) {
  .cards {
    margin-top: 15rem;
    margin-left: 4rem !important;

  }
}

@media (min-width:437px) {
  .cards {
    margin-top: 2rem;
    margin-left: 7.5rem !important;

  }
}

@media (min-width:772px) {
  .cards {
    margin-top: 15rem;
    margin-left: 2.0rem !important;

  }
}

@media (min-width:1182px) {
  .cards {
    margin-top: 12rem;
    margin-left: 9.0rem !important;

  }
}

@media (min-width:1100px) {
  .cards {
    margin-top: 12rem;
    margin-left: 8.0rem !important;

  }
}

* {
  box-sizing: border-box;
}

/* Style the search field */
.example input[type=text] {
  padding: 10px;
  font-size: 17px;
  border: 1px solid grey;
  float: left;
  width: 80%;
  background: #f1f1f1;
  margin-top: 17rem;

  outline: none;
}

/* Style the submit button */
.example button {
  float: left;
  width: 20%;
  padding: 14.5px 10px 14.5px;
  background-color: #878A8D;
  color: rgb(0, 0, 0);
  font-size: 17px;
  border: 1px solid grey;
  border-left: none;
  /* Prevent double borders */
  cursor: pointer;
  margin-top: 17rem;
  transition: 1.2s;
}

.example button:hover {
  background: #939ca5;
}

/* Clear floats */
form.example::after {
  content: "";
  clear: both;
  display: table;
}

.cards li {
  list-style: none;
}

.work-time {
  color: #f80000;
}

.spanTO {
  color: #0376f8;
}

/* ADMIN STYLy,,,,,,,,,,,,,,,,,,,,,,,,,,,,,*/
/* Set height of body and the document to 100% to enable "full page tabs" */
body,
html {
  height: 100%;
  margin: 0;
  font-family: Arial;
}

/* Style tab links */
.tablink {
  background-color: #555;
  color: white;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  font-size: 17px;
  width: 25%;
  transition: 1.6s;
}

.tablink:hover {
  background-color: #777;
  transition: 0.6s;
}

.tablink:focus {
  border: none;
  outline: none;
}

/* Style the tab content (and add height:100% for full page content) */
.tabcontent {
  color: white;
  display: none;
  padding: 100px 20px;
  height: 100%;
  transition: 0.6s;
}

#Adminstrator {
  background-color: rgba(0, 255, 234, 0.315);
  height: 100%;
}

#Laps {
  background-color: rgba(0, 195, 255, 0.356);
  height: 100%;
}

#Doctors {
  background-color: rgba(0, 255, 106, 0.315);
  height: 100%;
}

#Drugs {
  background-color: rgba(43, 255, 0, 0.315);
  height: 100%;
}

/* stylying ADmins T----------------------------------------*/
.tabcontent table td {
  color: #000000;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.tabcontent h3 {
  margin-bottom: 50px;
  margin-top: 20px;
}

/* stylying delete T----------------------------------------*/
.btn1 {
  background-color: yellow;
  /* Blue background */
  border: none;
  /* Remove borders */
  color: white;
  /* White text */
  padding: 7px 10px;
  /* Some padding */
  font-size: 13px;
  /* Set a font size */
  cursor: pointer;
  /* Mouse pointer on hover */
}

.btn2 {
  background-color: red;
  /* Blue background */
  border: none;
  /* Remove borders */
  color: white;
  /* White text */
  padding: 7px 10px;
  /* Some padding */
  font-size: 13px;
  /* Set a font size */
  cursor: pointer;
  /* Mouse pointer on hover */
  margin-left: 5px;
}

.btn3 {
  background-color: green;
  /* Blue background */
  border: none;
  /* Remove borders */
  color: white;
  /* White text */
  padding: 7px 10px;
  /* Some padding */
  font-size: 13px;
  /* Set a font size */
  cursor: pointer;
  /* Mouse pointer on hover */
  margin-left: 5px;
}

.admin {
  margin-bottom: 0px;
  padding: 20px 0px 1px 33px;
  background-color: #e7f3fe;
  border-left: 6px solid #2196F3;
}

/*===========================================================================*/

/* Style inputs, select elements and textareas */
.Resulteadd input[type=text],
[type=file],
select,
textarea {
  width: 100%;
  padding: 20px;
  border: none;
  resize: vertical;
  background: none;
  outline: none;
  border-bottom: 2px solid #000000;
  font-size: 14pt;
  color: white;
  font-weight: bolder;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

/* Style the label to display next to the inputs */
label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}

/* Style the submit button */
.Resulteadd input[type=submit] {

  color: green;
  padding: 12px 20px;
  border: 2px solid #000;
  border-radius: 4px;
  cursor: pointer;
  float: right;
  font-weight: bold;
  background: none;
  transition: .6s;
}

.Resulteadd input[type=submit]:hover {
  background-color: #000000;
  color: white;
}

/* Style the container */
.Resulteadd {
  margin-top: 10px;
  border-radius: 5px;
  padding: 20px;
}

/* Floating column for labels: 25% width */
.col-25 {
  float: left;
  width: 25%;
  margin-top: 6px;
}

/* Floating column for inputs: 75% width */
.col-75 {
  float: left;
  width: 75%;
  margin-top: 6px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {

  .col-25,
  .col-75,
  input[type=submit] {
    width: 100%;
    margin-top: 0;
  }
}

.lapsBrand {
  margin-bottom: 0px;
  padding: 20px 0px 1px 33px;
  background-color: #e7f3fe;
  border-left: 10px solid #2196F3;
  border-right: 10px solid #2196F3;
}

.lapsBrand strong {
  color: rgba(89, 0, 255, 0.842);
  border-right: 3px solid #0376f8;
  font-size: 17pt;
  margin-right: 10px;
}

.modal-backdrop {
  z-index: -1;
}

.homevisit {
  margin-top: 50px;
}

.testmenue {
  margin-top: 50px;
}

h3 {
  font-weight: bold;
  margin: 10px;
  font-family: 'Roboto', sans-serif;
}

td button {
  margin-right: 5px;

}

h3 span .btn {
  color: green;
  padding: 12px 20px;
  border: 2px solid #000;
  border-radius: 4px;
  cursor: pointer;
  float: right;
  font-weight: bold;
  background: none;
  transition: .6s;
}

h3 span .btn:hover {
  background-color: #000000;
  text-align: center;
}

body {
  font-family: 'Roboto', sans-serif;
}

.reultbox {

  display: block;
  text-align: center;
  width: 100%;
  padding: 20px;
  clear: both;

  background-color: #939ca56e;
}

.reultbox span {
  color: #f80000;
  font-weight: bold;
}

.reultbox .fa-clinic-medical,
.fa-map-marker-alt,
.fa-phone-square {
  margin-right: 20px;
  font-size: 20pt;
}

.alerter,
.alert {
  clear: both;
  color: rgb(23, 24, 23);
  margin-top: 80px;
  font-weight: bold;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #e61a1a70;
  width: 100%;
  
}

.restabla {
  margin-top: 10px;
}

.alerter .alert-success {
  background-color: #1ae63c49 !important;
}

.dropdown {
  position: relative;
  display: inline-block;
  box-shadow: 17px 36px 67px 26px rgb(0 0 0 / 26%)
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}


.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
.dropdown-content a:hover {background-color: #ddd}
.show {display:block;}
.drlog{
  margin-top: 9rem;
  box-shadow: 15px 15px 15px 15px rgba(0, 0, 0, 0.363);
}
.regtitle{
  box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.363);
  padding: 30px;
  text-align: center;
}
.logb,.btna{
  background-color: #878A8D;
  width: 100%;
  font-weight: bold;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.219);
  padding: 10px;
  outline: none;
  border: none;
  transition: 1.2s;
}


.logb:hover, .btna:hover{
 background-color:#939ca5 ;
}
.reg{
  font-weight: bold;
  color: #040D50;
  text-align: center;
  font-family:cursive;
}
